<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zebrunner.reporting.persistence.dao.mysql.application.TestRunArtifactMapper">

    <insert id="createTestRunArtifacts" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
        INSERT INTO TEST_RUN_ARTIFACTS (NAME, LINK, EXPIRES_AT, TEST_RUN_ID) VALUES
        ]]>
        <foreach item="testRunArtifact" collection="testRunArtifacts" open="" separator="," close="">
            <![CDATA[
                (
                    #{testRunArtifact.name},
                    #{testRunArtifact.link},
                    #{testRunArtifact.expiresAt},
                    #{testRunArtifact.testRunId}
                )
            ]]>
        </foreach>
	</insert>

    <sql id="getTestRunArtifact">
		<![CDATA[
        SELECT TA.ID          AS TEST_RUN_ARTIFACT_ID,
               TA.NAME        AS TEST_RUN_ARTIFACT_NAME,
               TA.LINK        AS TEST_RUN_ARTIFACT_LINK,
               TA.TEST_RUN_ID AS TEST_RUN_ARTIFACT_TEST_RUN_ID,
               TA.EXPIRES_AT  AS TEST_RUN_ARTIFACT_EXPIRES_AT
        FROM TEST_RUN_ARTIFACTS TA
        ]]>
	</sql>

    <select id="existsByNameAndTestRunId" resultType="java.lang.Boolean">
        <![CDATA[
        SELECT EXISTS (
            SELECT ID FROM TEST_RUN_ARTIFACTS TRA
                WHERE TRA.NAME = #{name} AND TRA.TEST_RUN_ID = #{testRunId}
            )
		]]>
    </select>

    <resultMap type="com.zebrunner.reporting.domain.db.TestRunArtifact"
               id="TestRunArtifactResultMap" autoMapping="false">
        <id column="TEST_RUN_ARTIFACT_ID" property="id"/>
        <result column="TEST_RUN_ARTIFACT_NAME" property="name"/>
        <result column="TEST_RUN_ARTIFACT_LINK" property="link"/>
        <result column="TEST_RUN_ARTIFACT_TEST_RUN_ID" property="testRunId"/>
        <result column="TEST_RUN_ARTIFACT_EXPIRES_AT" property="expiresAt"/>
    </resultMap>

</mapper>
